.input-container {
      width: 80%;
      height: 15rem;
      border: 1px solid var(--container-border);
      margin-left: 3rem;
}

.input-div {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      width: 40rem;
}

.input-text {
      padding: 0.5rem;
}

#user {
      padding: 0.5rem;
      font-size: 1.3rem;
}

#username {
      border-radius: 0.4rem;
}

#password {
      border: 2px solid var(--black-color);
      border-radius: 0.4rem;
}

#pass {
      color: var(--black-color);
      padding: 0.5rem;
      font-size: 1.3rem;

}

.error-message {
      margin-left: 2rem;
      color: var(--red-color);
}

/* radio button code */

.radio-button-cont {
      width: 60%;
      height: 15%;
      margin-left: 3rem;
      border: 1px solid var(--container-border);
      display: flex;
}

.radio-btn {
      padding: 2rem;
      font-size: 1rem;
      color: var(--primary-color);
}