* {
      margin: 0px;
      padding: 0px;
}

body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

:root {
      --primary-color: #3B82F6;
      --secondary-color: #FFFFFF;
      --black-color: #333333;
      --home-subtitle: #679B9B;
      --box-shadow-black-color: #000000bf;
}

.brand-container {
      height: 100%;
      width: 100%;
}

.navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10%;
      width: 100%;
      background-color: var(-secondary-color);
      box-shadow: -1px 4px 19px -4px var(--box-shadow-black-color);
}

.title-div {
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      font-size: 2rem;
      color: var(--primary-color);

}

.sub-title-name {
      font-size: 1rem;
      color: var(--home-subtitle);
}

.documentation {
      color: var(--primary-color);
      text-decoration: none;
      margin-right: 4rem;
      font-size: 1.3rem;
}

.main-div {
      margin-top: 3rem;
      display: flex;
      background-color: var(--secondary-color);
      height: 80%;
      width: 100%;
      color: var(--black-color);
}

.main-heading {
      margin-top: 2rem;
      margin-left: 4rem;
      font-size: 2.5rem;
}

.description {
      padding-top: 2rem;
      margin-left: 4rem;
      flex-wrap: wrap;
      font-size: 1.3rem;
      width: 60%;
}

.docs-button {
      padding: 0.8rem;
      margin: 20px;
      background-color: var(--primary-color);
      margin-left: 6rem;
      border-radius: 5px;
      border: 2px solid var(--secondary-color);
      font-size: 1.1rem;
      border-radius: 2.5rem;

}

.docs-button a {
      text-decoration: none;
      color: var(--secondary-color);
}

.main-data {
      height: 100%;
      width: 50%;
}

.home-image {
      height: 20rem;
      width: 50%;
}

.home-image img {
      height: 80%;
      width: 80%;
}

.footer {
      background-color: var(--primary-color);
      padding: 2rem 1rem;
      text-align: center;
      color: var(--secondary-color);
      height: 10%;
      margin-top: auto;
}

.link {
      box-sizing: border-box;
      text-decoration: none;
      padding: 0.5rem 1rem;
}

.social-link {
      text-decoration: none;
      list-style: none;
      display: flex;
      padding: 1rem 0.5rem;
      text-transform: capitalize;


}

.footer .link {
      color: var(--secondary-color);

}

.link:hover {
      color: var(--black-color);
}

.footer .footer-header {
      font-weight: bold;
      font-size: large;
}

.footer ul {
      padding-inline-start: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.copyright {
      font-size: 1rem;
      margin-top: 0.5rem;
}

/* mobile */

@media screen and (max-width:600px) {
      .main-div {
            flex-direction: column-reverse;

      }
}