/* Slider Code */

.slider-container {
      display: flex;
      padding: 1rem;
      margin: auto;
      border: 2px solid var(--primary-color);
      border-radius: 0.3rem;
      width: 10rem;
}

.slider-with-icon-label {
      margin-right: 0.5rem;
}

.fas {
      color: var(--black-color);
}