/* Slider Code */
.rating-container input {
      display: none;
}

.rating-container label {
      display: inline-block;
      width: 1rem;
      position: relative;
      cursor: pointer;
      color: var(--rating-color);
      margin-left: 2rem;
      padding: 0.5rem;
}

.rating-container label:before {
      content: "\2605";
      position: absolute;
      font-size: 3rem;
      display: inline-block;
}

.rating-container label:after {
      content: "\2605";
      position: absolute;
      font-size: 3rem;
      display: inline-block;
}

.rating-container label:hover {
      color: var(--rating-hover-color);
}