.contained-button-cont {
      padding: 3.5rem;
      width: 60vw;
      height: 20vh;
      margin: 2rem;
      border: 1px solid var(--container-border);
}

.button {
      padding: 0.6rem;
      margin: 1rem;
      font-size: 1rem;
      font-weight: 600;
      box-shadow: 3px;
      border-radius: 5px;
}

.primary-button {
      background-color: var(--primary-button-bg);
      color: var(--primary-button-color);
}

.secondary-button {
      background-color: var(--secondary-button-bg);
      color: var(--secondary-button-color);
}

.danger-button {
      background-color: var(--danger-button-bg);
      color: var(--danger-button-color);
}

.success-button {
      background-color: var(--success-button-bg);
      color: var(--success-button-color);
}

.warning-button {
      background-color: var(--warning-button-bg);
      color: var(--warning-button-color);
}

.info-button {
      background-color: var(--info-button-bg);
      color: var(--info-button-color);
}

.dark-button {
      background-color: var(--dark-button-bg);
}

.link-button {
      background-color: var(--link-button-bg);
      color: var(--link-button-color);
}

.disable-button {
      background-color: var(--disable-button-bg);
      color: var(--disable-button-color);
}

/* Floating Button Code */

.floating-button-cont {
      margin: 2rem 2rem 2rem 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 200px;
      padding: 10px 0;
}

.floating-btn {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      font-size: 2rem;
      box-shadow: 20px solid #bf8dee;
      border: 2px solid var(--secondary-color);
}

.primary-button {
      color: var(--floating-button-color);
      background-color: var(--floating-button-bg);
}

.plus-button {
      color: var(--floating-button-color);
      background-color: var(--plus-button-bg);
}

.primary-button:hover {
      color: var(--floating-hover-color);
      background-color: var(--floating-hover-bg);
}

.plus-button:hover {
      color: var(--plus-hover-color);
      background-color: var(--floating-hover-bg);
}


/* Button with icon code */

.icon-button-cont {
      padding: 3.5rem;
      margin-top: -3rem;
}

.icon-btn {
      margin: 1rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 5px;
}

.fas {
      margin-right: 0.8rem;
}

.cart-button {
      background-color: var(--cart-icon-button-bg);
      color: var(--cart-icon-button-color);
      padding: 0.7rem
}

.home-button {
      padding: 0.7rem
}